<h1>List of Dogs</h1>

<ol>
  <% @dogs.each do |dog| %>
    <li>
      <%= dog.name.capitalize %>
      <%= link_to 'Info', dog_path(dog) %>
      <%= link_to 'Update info', edit_dog_path(dog) %>
      <%= link_to 'Delete', dog_path(dog), method: :delete %>
    </li>
  <% end %>
</ol>
