<% if flash[:success] %>
  <div class="success"><%= flash[:success] %></div>
<% end %>
<h1>List of Dogs</h1>

<ol>
  <% @dogs.each do |dog| %>
    <li>
      <%= link_to dog.name.capitalize, dog_show_path(dog) %>
      <%= link_to 'delete', dog_delete_path(dog), method: :delete %>
    </li>
  <% end %>
</ol>
