<h1>Welcome to Pet Shelter App</h1>
<ul>
    <li>
      <%= link_to 'Create a dog', dogs_new_path %>
    </li>
    <li>
      <a href="/dogs/index">
        See all the dogs
      </a>
    </li>
</ul>
