<h1 class="text-warning">Welcome to Pet Shelter App</h1>
<h3>Dogs</h3>
<ul>
    <li>
      <%= link_to 'Create a dog', new_dog_path %>
    </li>
    <li>
      <%= link_to 'See all the dogs', dogs_path %>
    </li>
</ul>
<h3>Clients</h3>
<ul>
    <li>
      <%= link_to 'Create a client', new_client_path %>
    </li>
    <li>
      <%= link_to 'See all the clients', clients_path %>
    </li>
</ul>
